document,
body {
  margin: 0;
  padding: 0;
}

#map {
  height: 100vh; /* Or the desired height */
  width: 100vw; /* Or the desired width */
  position: relative;
  z-index: 0;
}

nav {
  background-color: white;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 12vh;
  z-index: 1;
  border-bottom: solid thin black;
  align-items: center;
  justify-content: space-between;
}

#search_bar_div {
  position: sticky;
  bottom: 10px;
  left: 10px;
  width: 20vw;
}

#search_bar {
  font-size: 1rem;
  padding: 10px 1vw;
  border-radius: 10px;
  border: solid 1px black;
  width: 18vw;
}

#menuBtn {
}

#accountBtn {
}

#searchBtn {
}

#searchresults {
  max-height: 15vh;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1vh;
  overflow: auto;
  border: solid thin black;
  width: 20vw;
}

.entry {
  padding: 1vw;
  border-bottom: solid thin black;
}
